<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="laboratorio_menu"
        name="Laboratorio"
        sequence="10"
        web_icon="laboratory,static/description/icon.png"/>

    <menuitem
        id="orden_de_servicio_menu"
        name="Orden de servicio"
        action="orden_de_servicio_menu_action"

        parent="laboratorio_menu"
        sequence="10"/>
        <!-- groups="laboratorio.laboratorio_group_user" -->

    <menuitem
        id="configuracion_menu"
        name="Configuración"

        parent="laboratorio_menu"
        sequence="10"/>
        <!-- groups="laboratorio.laboratorio_group_user" -->

    <menuitem
        id="parametros_quimicos_menu"
        name="Parámetros Químicos"
        action="parametros_quimicos_action"

        parent="configuracion_menu"
        sequence="10"/>
        <!-- groups="laboratorio.laboratorio_group_user" -->

    <menuitem
        id="muestras_medir_menu"
        name="Puntos de Muestreo"
        action="action_muestras"

        parent="configuracion_menu"
        sequence="20"/>
        <!-- groups="laboratorio.laboratorio_group_user" -->

</odoo>
